.sceneForm {
	width: 20rem;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	background: rgba(var(--bg-overlay));
}

.sceneSelect {
	display: flex;
	align-self: center;
	justify-content: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
