.settings {
	background: rgba(var(--bg-overlay));
	max-width: 26em;
}

.vec3 {
	width: 6em;
}

.inputlist {
	height: 3.3rem;
	overflow-y: auto;
}

.settings > tr:not(:first-child) > h2 {
	margin-top: .5rem;
}

.settings > tr > h2,
.settings > tr > h3,
.settings > tr > h4,
.settings > tr > h5,
.settings > tr > h6 {
	margin-bottom: .2rem;
}

.settings > tr > h2 {
	font-size: 1.4em;
}

.settings > tr > h3 {
	font-size: 1.2em;
}

.settinginput {
	padding-top: .2rem;
	padding-bottom: .2rem;
}
