.toolbar {
	background: rgba(var(--bg-overlay));
	display: flex;
	flex-wrap: wrap;
}

.multiplier {
	width: 42px;
}

.toolbar-spacer {
	flex-grow: 1;
}

.toolbar-buttons {
	display: flex;
}

.toolbar-buttons > button > svg path {
  fill: rgb(var(--fg));
}

.toolbar-fps {
	width: 5em;
}
